<article class="listing">
  <img src="{{movie.image}}" alt="">
  <h3>{{movie.name}}</h3>
  <div class="detail category">
    <span>Categoria:</span> {{movie.category}}
  </div>
  <div class="detail clasification">
    <span>Clasificacion:</span> {{movie.clasification}}
  </div>
</article>
