<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Sobre Nosotros</h2>
  <p>
    Movies chimbitas es un sitio Web que te permite ver peliculas chimbitas para que pases un rato chimbita.
    No importa lo que quieras ver, ni donde, ni cuando, siempre encontrarás una pelicula chimbita para disfrutar.
  </p>
  

{{#link-to 'contact' class="button"}}
    Bajate una pelicula ya pues!
{{/link-to}}
</div>

{{outlet}}