<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contáctanos</h2>
  <p>Las peliculas más chimbas socio xD.<br>Llámanos o escríbenos y realiza la preguntas que desees.</p>
  <p>
    Peliculas chimbitas 
    <address>
      Universidad de Antioquia<br>
      Medellín
    </address>
    <a href="tel: 555-5555">(57) 300-55555</a><br>
    <a href="mailto:movies@movieschimbitas.com">contact@movieschimbitas.com</a>
  </p>
  {{#link-to 'about' class="button"}}
    Sobre Nosotros
  {{/link-to}}
</div>
{{outlet}}